vti_encoding:SR|utf8-nl
anlake.class:index.htm index2.htm
http\://www.y518.com/html:index.htm index2.htm
http\://www.y518.com/show:index2.htm index.htm
http\://www.y518.com/down:index2.htm index.htm
http\://www.y518.com/down/html/gd.exe:index2.htm index.htm
http\://www.y518.com/server:index.htm index2.htm
liuyan/book.asp:liuyan/index.htm
mailto\:8800518@371.net:index2.htm index.htm
http\://www.y518.com:index2.htm index.htm
fadeout.class:index.htm
http\://www.y518.com/java:index.htm index2.htm
http\://www.y518.com/bbs:index2.htm index.htm
http\://www.y518.com/help:index.htm index2.htm
http\://www.y518.com/link:index.htm index2.htm
http\://www.y518.com/gbook:index2.htm index.htm
http\://www.y518.com/1xiao:index.htm index2.htm
